
<div class="layui-card-header">版本</div>
<div class="layui-card-body layui-text layadmin-about">
  <blockquote class="layui-elem-quote" style="border: none;">
    <script type="text/html" template>
      <p>当前版本：X1</p>
    </script>
  </blockquote>
</div>

<div class="layui-card-header">关于</div>
<div class="layui-card-body layui-text layadmin-about">
  <blockquote class="layui-elem-quote" style="border: none;">
		Github仓库地址：https://github.com/luobocms/mbcms.git
  </blockquote>
</div>

<div class="layui-card-header">声明</div>
<div class="layui-card-body layui-text layadmin-about">
  <blockquote class="layui-elem-quote" style="border: none;">
卜卜CMS拒绝服务一切违法、违规、打擦边球的内容<br><br>
		如：黄、赌、毒、骗、造谣、抹黑、诽谤等，及一切违法擦边内容......
  </blockquote>
</div>